@import '../../../../../../resources/colors.css';

.playbackControlButton i {
  margin-top: 8px;
}

.playbackControlButton {
  display: inline-block;

  margin-right: 2px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;

  text-align: center;
  font-size: 12px;

  background: var(--base-2);
  border: 2px solid var(--base-3);
  color: var(--base-5);

  border-radius: 100%;

  cursor: default;

  transition: all .15s linear;
}

.playbackControlButton:hover {
  border: 2px solid var(--accent-6);
  color: var(--base-0);
  background: var(--accent-6);
}

.playbackControlButton:active {
  border: 2px solid var(--accent-8);
  color: var(--base-0);
  background: var(--accent-8);

  transform: scale(0.92);
}