@import '../../../../../../resources/colors.css';

div.playbackControlButton i {
  margin-top: 8px;
}

div.playbackControlButton {
  display: inline-block;
  margin-right: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  background: var(--white);
  border: 2px solid var(--gray-2);
  border-radius: 100%;
  font-size: 12px;
  color: var(--gray-2);
  box-sizing: border-box;
  transition: all .125s linear;
}

div.playbackControlButton:hover {
  border: 2px solid var(--black-0);
  color: var(--black-0);
}

div.playbackControlButton:active {
  border: 2px solid var(--red-2);
  color: var(--red-2);
}