@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../fonts/open-sans/OpenSans-Light.ttf);
}

.hidden {
	display: none;
}

.grid25 {
	width: 25%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid30 {
	width: 30%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid35 {
	width: 35%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid50 {
	width: 50%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid60 {
	width: 60%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid65 {
	width: 65%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid70 {
	width: 70%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid75 {
	width: 75%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid100 {
	width: 100%;
	display: inline-block;

	@include box-sizing(border-box);
}

body {
	padding: 0;
	margin: 0;

	height: 100%;

	font-family: 'Open Sans';
	font-size: 12px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

	cursor: default;

	overflow: hidden;
}

html, body, #wrap, div.view-container, div.view {
	height: 100%;
}

div.clear {
	clear: both;
}


a {
	color: #24cdee;

	&:hover {
		text-decoration: none;
	}
}

#about-dialog {
	h1 {
		font-family: 'Open Sans Light';
		font-size: 40px;

		margin: 2px 0;
		padding: 0;
	}

	span {
		font-family: 'Open Sans Light';

		display: block;
		font-size: 12px;
		
		&.ver {
			color: #aaa;
			font-size: 14px;
		}
	}

	button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	div {
		margin: 16px 0;

		span {
			font-size: 14px;
			font-weight: bold;
		}

		ul {
			margin: 2px 0;
			padding-left: 20px;

			li {
				margin: 2px 0;
				padding: 0;
			}
		}
	}

	a {
		color: #24cdee;

		&:hover {
			text-decoration: none;
		}
	}
}

button, a.button {
	background: #fff;

	color: #888;

	margin: 0;
	padding: 4px 8px;

	display: block;

	outline: none !important;

	@include box-sizing(border-box);

	text-align: center;
	font-size: 14px;

	border: 1px solid #ccc;
	border-radius: 3px;

	@include transition-property(background);
	@include transition-duration(.1s);
	@include transition-timing-function(ease-in);

	&:hover {
		background: #ddd;
		color: #666;
		border-color: #bbb;
	}

	&:active {
		background: #aaa;
		color: #fff;
	}
}

div.playback-controls {
	margin: 0;
	padding: 8px;

	width: 100%;

	@include box-sizing(border-box);

	border-bottom: 1px solid #ddd;

	a {
		color: #bbb;

		margin: 0;
		padding: 4px 8px;

		display: inline-block;
		width: 30px;
		height: 30px;

		@include box-sizing(border-box);

		text-align: center;
		font-size: 14px;

		border: 1px solid #ddd;
		border-radius: 3px;

		@include transition-property(background);
		@include transition-duration(.1s);
		@include transition-timing-function(ease-in);

		&:hover {
			background: #ddd;
			color: #666;
			border-color: #bbb;
		}

		&:active {
			background: #aaa;
			color: #fff;
		}
	}

	div.track-info {
		font-family: 'Open Sans Light';
		font-size: 15px;

		display: inline-block;

		margin: 0 8px;
	}

	#volume-control {
		float: right;
		width: 100px;

		margin-top: 8px;
	}

	div.track-scroll {
		margin: 4px 0;
		padding: 5px;

		@include box-sizing(border-box);

		div {
			width: 100%;
		}
	}
}

aside.library {
	margin: 0;
	padding: 8px;

	@include box-sizing(border-box);

	float: left;
	width: 25%;
	height: 88%;

	border-right: 1px solid #ddd;
}

div.playlist {
	margin: 0;
	padding: 8px;

	@include box-sizing(border-box);

	display: inline-block;
	width: 75%;
	height: 86.5%;

	a {
		color: #888;

		margin: 0;
		padding: 4px 8px;

		display: inline-block;

		@include box-sizing(border-box);

		font-size: 14px;

		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-top: 1px solid #ddd;

		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		@include transition-property(background);
		@include transition-duration(.1s);
		@include transition-timing-function(ease-in);

		&:hover {
			background: #ddd;
			color: #666;
		}

		&:active {
			background: #aaa;
			color: #fff;
		}
	}

	div {
		height: 100%;

		overflow-y: auto;

		padding: 8px;

		@include box-sizing(border-box);
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 1px 0;
			padding: 4px 4px;

			list-style: none;

			background: #fff;

			color: #888;

			display: block;

			outline: none !important;

			@include box-sizing(border-box);

			font-size: 12px;

			border: 1px solid transparent;
			border-radius: 3px;

			@include transition-property(background);
			@include transition-duration(.1s);
			@include transition-timing-function(ease-in);

			&.selected {
				background: #f0f0f0;
				color: #666;
				border: 1px solid #ccc;
			}

			&:hover {
				background: #ddd;
				color: #666;
				border: 1px solid #ccc;
			}

			&:active {
				background: #aaa;
				color: #fff;
			}
		}
	}
}