<div class="playback-controls" ng-controller="PlaybackCtrl">
	<a class="stop" ng-click="stop();"><i class="fa fa-stop"></i></a>
	<a class="play" ng-click="play();"><i class="fa fa-play"></i></a>
	<a class="pause" ng-click="pause();"><i class="fa fa-pause"></i></a>
	<a class="prev" ng-click="back();"><i class="fa fa-step-backward"></i></a>
	<a class="fwd" ng-click="forward();"><i class="fa fa-step-forward"></i></a>
	<a class="fwd-random" ng-click="forwardRand();"><i class="fa fa-question-circle"></i></a>

	<div class="track-info">
		<span class="track-pos">{{ trackPos | date : 'mm:ss' }}</span> / <span class="track-len"> {{ trackLength | date : 'mm:ss' }}</span>
	</div>

	<div id="volume-control"></div>
	<div class="clear"></div>

	<div class="track-scroll">
		<div id="track-scroll-element"></div>
	</div>
</div>

<aside class="library" library></aside>
<div class="playlist" ng-controller="PlaylistCtrl" playlist></div>

<div class="clear"></div>