<div class="content">
	<div id="settings-tabs">
		<ul>
			<li><a href="#s-plugins">Plugins</a></li>
			<li><a href="#s-theme">Themes</a></li>
			<li><a href="#s-library">Library</a></li>
			<li><a href="#s-playback">Playback</a></li>
		</ul>

		<div id="s-plugins" ng-controller="PluginsCtrl">
			<h1>Plugins</h1>
			<div class="plugins" ng-model="plugins">
				<ul>
					<li ng-repeat="plugin in plugins" ng-click="setPlugin($index);" ng-class="{'selected': $index == currentPlugin }">
						{{ plugin.name + ' v' + plugin.version }}
					</li>
				</ul>
			</div>

			<div class="plugin-info">
				<div ng-hide="plugins[currentPlugin].name.length">
					Please choose a plugin on the list.
				</div>

				<div ng-hide="!plugins[currentPlugin].name.length">
					<label>Name</label>
					{{ plugins[currentPlugin].name }}
				</div>

				<div ng-hide="!plugins[currentPlugin].name.length">
					<label>Version</label>
					v{{ plugins[currentPlugin].version }}
				</div>

				<div ng-hide="!plugins[currentPlugin].name.length">
					<label>Author</label>
					<a href="{{ plugins[currentPlugin].url }}" class="glob" target="_blank">{{ plugins[currentPlugin].author }}</a>
				</div>

				<div class="buttons" ng-hide="!plugins[currentPlugin].name.length">
					<a class="button" ng-click="togglePlugin();" ng-class="{'enabled': isEnabled }">Toggle plugin</a>
					<a class="button" ng-click="configurePlugin();">Configure</a>
				</div>
			</div>
		</div>

		<div id="s-theme" ng-controller="ThemesCtrl">
			<h1>Themes</h1>
			(not implemtented)
		</div>

		<div id="s-library">
			<h1>Library</h1>
			<a class="button" ng-click="addMediaToLibrary();">Add media</a>
			<a class="button" ng-click="clearLibrary();">Clear library</a>
		</div>

		<div id="s-playback">
			<h1>Playback</h1>
			<p>
				Unfortunately, currently there is no ASIO support for Ichigo - as the library used for sound output does not support it.
			</p>
			<div class="settings-row">
				<label>Output device</label>
				<select ng-model="currentDevice" ng-change="setOutputDevice()">
					<option value="{{ device.id }}" ng-selected="currentDevice == device.id"  ng-repeat="device in availableDevices">{{ device.name }}</option>
				</select>
			</div>
			<div class="settings-row">
				<label>Output frequency</label>
				<select ng-model="currentFrequency" ng-change="setOutputFrequency()">
					<option value="{{ frequency }}" ng-selected="currentFrequency == frequency" ng-repeat="frequency in availableFrequencies">{{ frequency }} Hz</option>
				</select>
			</div>
			<p>
				Changes will be applied after restarting Ichigo.
			</p>
		</div>

		<a ng-href="#/" class="x button">Close settings</a>
	</div>
</div>