.playbackControl {
  padding: 8px;
  box-sizing: border-box;
}

.playbackControlStatus {
  float: right;
  margin-top: 2px;
  
  font-size: 24px;
  font-family: 'PT Sans Narrow';

  color: var(--base-5);
}