<div id="equalizer-dialog" class="dialog hidden" ng-controller="EqualizerCtrl">
	<div class="eq-band">
		<div data-frequency="55" id="eq-band1"></div>
		<label>55 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="77" id="eq-band2"></div>
		<label>77 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="110" id="eq-band3"></div>
		<label>110 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="156" id="eq-band4"></div>
		<label>156 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="220" id="eq-band5"></div>
		<label>220 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="311" id="eq-band6"></div>
		<label>311 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="440" id="eq-band7"></div>
		<label>440 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="622" id="eq-band8"></div>
		<label>622 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="880" id="eq-band9"></div>
		<label>880 Hz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="1200" id="eq-band10"></div>
		<label>1.2 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="1800" id="eq-band11"></div>
		<label>1.8 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="2500" id="eq-band12"></div>
		<label>2.5 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="3500" id="eq-band13"></div>
		<label>3.5 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="5000" id="eq-band14"></div>
		<label>5 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="7000" id="eq-band15"></div>
		<label>7 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="10000" id="eq-band16"></div>
		<label>10 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="14000" id="eq-band17"></div>
		<label>14 kHz</label>
	</div>
	<div class="eq-band">
		<div data-frequency="20000" id="eq-band18"></div>
		<label>20 kHz</label>
	</div>

	<select id="equalizer-preset" ng-model="preset" ng-change="setEqualizerBands()">
		<option value="flat">Flat</option>
		<option value="pop">Pop</option>
		<option value="jazz">Jazz</option>
		<option value="techno">Techno</option>
		<option value="rock">Rock</option>
	</select>

	<button class="close">Close</button>
</div>