<div ng-model="tracks">
	<div ng-repeat="track in tracks" ng-click="setTrack($index);" ng-right-click="spawnTrackMenu($event, $index);" ng-class="getClasses($index, track)" class="track">
		<div class="track-number">
			{{ (track.tags.track_number == undefined ? '??' : track.tags.track_number) }}
		</div>
		<div class="track-info">
			<div class="track-artist">
				{{ (track.tags.artist == undefined ? 'Unknown artist' : track.tags.artist) }}
			</div>
			<div class="track-title">
				{{ (track.tags.title == undefined ? 'Unknown title' : track.tags.title) }}
			</div>
		</div>
	</div>
</div>