@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

@font-face {
	font-family: 'Open Sans';
	src: url(../../../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans Light';
	src: url(../../../fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url(../../../fonts/pt-sans/PTN57F.ttf);
}

::-webkit-scrollbar {
	width: 6px;
}
 
::-webkit-scrollbar-thumb {
	background: rgba(200, 200, 200, .5);
	border-radius: 6px;
}

.hidden {
	display: none;
}

.grid25 {
	width: 25%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid30 {
	width: 30%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid35 {
	width: 35%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid50 {
	width: 50%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid60 {
	width: 60%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid65 {
	width: 65%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid70 {
	width: 70%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid75 {
	width: 75%;
	display: inline-block;

	@include box-sizing(border-box);
}

.grid100 {
	width: 100%;
	display: inline-block;

	@include box-sizing(border-box);
}

body {
	padding: 0;
	margin: 0;

	height: 100%;

	font-family: 'PT Sans Narrow';
	font-size: 14px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

	cursor: default;

	overflow: hidden;
}

html, body, #wrap, div.view-container, div.view {
	height: 100%;
}

div.clear {
	clear: both;
}

a, a.glob {
	color: #24cdee;

	&:hover {
		text-decoration: none;
	}
}

#callout {
	font-family: 'PT Sans Narrow';

	background: rgba(0, 0, 0, .5);
	color: #fff;

	border: 1px solid transparent;
	border-radius: 3px;

	box-shadow: 0 12px 50px rgba(0, 0, 0, .5);

	position: fixed;
	left: 50%;
	top: 50%;

	width: 40%;
	height: 96px;

	margin-left: -20%;
	margin-top: -48px;

	z-index: 9001;

	display: none;

	text-align: center;

	h1 {
		font-size: 32px;

		margin: 0 auto 4px auto;
		padding: 0;
	}

	p {
		margin: 0;
		padding: 0;

		font-size: 16px;
	}
}

div.dialog {
	font-family: 'PT Sans Narrow';

	button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}

#equalizer-dialog {
	.eq-band {
		display: inline-block;
		margin: 2px 10px;

		label {
			display: block;

			font-family: 'PT Sans Narrow';
			font-size: 9px;

			margin: 4px 0;
			margin-left: -5px !important;

			text-align: center;
		}
	}

	.ui-slider-handle {
		width: 16px !important;
	}

	button {
		position: absolute;
		bottom: 10px;
		left: 45%;
		right: 45%;
	}
}

#about-dialog, #alpha-dialog {
	h1 {
		font-family: 'PT Sans Narrow';
		font-size: 40px;

		margin: 2px 0;
		padding: 0;
	}

	span {
		font-family: 'PT Sans Narrow';

		display: block;
		font-size: 12px;
		
		&.ver {
			color: #aaa;
			font-size: 14px;
		}
	}

	div {
		margin: 16px 0;

		span {
			font-size: 14px;
			font-weight: bold;
		}

		ul {
			margin: 2px 0;
			padding-left: 20px;

			li {
				margin: 2px 0;
				padding: 0;
			}
		}
	}

	a {
		color: #24cdee;

		outline: none !important;

		&:hover {
			text-decoration: none;
		}
	}
}

#loading-dialog {
	font-family: 'PT Sans Narrow';
	font-size: 40px;

	text-align: center;

	img {
		display: block;
		margin: 10px auto;
	}
}

button, a.button, input[type="text"], select {
	background: #fff !important;

	color: #888 !important;

	margin: 0 !important;
	padding: 6px 10px !important;

	width: auto !important;

	display: inline-block;

	outline: none !important;
	text-decoration: none !important;

	@include box-sizing(border-box);

	text-align: center !important;
	font-size: 12px !important;
	font-family: 'PT Sans Narrow' !important;

	border: 1px solid #ccc !important;
	border-radius: 3px !important;

	@include transition-property(all);
	@include transition-duration(.15s);
	@include transition-timing-function(ease-in-out);

	&:hover {
		background: #ddd !important;
		color: #666 !important;
		border-color: #bbb !important;
	}

	&:active {
		background: #aaa !important;
		color: #fff !important;
	}
}

div.playback-controls {
	margin: 0;
	padding: 8px;

	width: 100%;
	height: 78px;

	@include box-sizing(border-box);

	border-bottom: 1px solid #ddd;

	a {
		color: #999;

		margin: 0;
		padding: 8px;

		display: inline-block;
		width: 36px;
		height: 36px;

		@include box-sizing(border-box);

		text-align: center;
		font-size: 14px;

		border: 1px solid #ddd;
		border-radius: 100%;

		@include transition-property(all);
		@include transition-duration(.15s);
		@include transition-timing-function(ease-in-out);

		&:hover {
			background: #ddd;
			color: #666;
			border-color: #bbb;
		}

		&:active {
			background: #aaa;
			color: #fff;
		}
	}

	div.track-info {
		font-family: 'PT Sans Narrow';
		font-size: 15px;

		display: inline-block;

		margin: 0 8px;

		text-overflow: ellipsis;
	}

	canvas {
		width: 96px;
		height: 32px;

		display: inline-block;

		background: #fff;

		border: 1px solid #ddd;
		border-radius: 2px;

		position: absolute;
		top: 9px;
	}

	#volume-control {
		float: right;
		width: 100px;

		margin-top: 8px;
	}

	div.track-scroll {
		margin: 8px 0;
		padding: 1px;

		@include box-sizing(border-box);

		div {
			width: 100%;
		}

		text-overflow: ellipsis;
	}
}

aside.library {
	margin: 0;
	padding: 8px;

	@include box-sizing(border-box);

	float: left;
	width: 25%;
	height: 1px;

	border-right: 1px solid #ddd;

	div.library {
		@include box-sizing(border-box);

		width: 100%;
		height: 100%;

		div.search-chevrons {
			position: relative;
			left: 50%;
			right: 50%;
			top: -6px;
		}

		div.filter {
			background: #fff;

			width: 100%;

			@include box-sizing(border-box);

			opacity: 1;

			padding: 6px 0;
			margin: -10px auto 10px auto;

			input {
				width: 100%;

				@include box-sizing(border-box);

				font-family: 'PT Sans Narrow';
				font-size: 14px;

				color: #666;

				border: 1px solid #ccc;
				border-radius: 2px;

				padding: 4px 8px;

				outline: none;
			}
		}

		div.list {
			@include box-sizing(border-box);

			overflow: auto;
			height: 96%;
		}

		div.album, div.track {
			margin: 2px 5px;
			background: #fff;
		}

		div.track {
			background: #fff !important;

			&:hover {
				background: #f5f5f5 !important;
				border: 1px solid #ccc;
			}

			i.warning {
				float: right;
			}
		}

		div.artist, div.album, div.track {
			margin: 2px 0;
			padding: 6px 6px;

			background: #fff;

			color: #888;

			display: block;

			outline: none !important;

			@include box-sizing(border-box);

			font-size: 12px;

			border: 1px solid transparent;
			border-radius: 3px;

			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in-out-out);

			&:hover {
				background: #f5f5f5;
				color: #666;
				border: 1px solid #ccc;
			}

			&.selected {
				background: #fff;
				border: 1px solid #ccc;
			}

			&.notListened {
				color: #000;
			}

			div.chevrons {
				display: inline-block;
				width: 16px;
				margin-right: 1px;
			}

			span {
				text-overflow: ellipsis;
				width: 88%;
				display: inline-block;
			}
		}
	}
}

div.plugins, div.themes {
	div {
		height: 100%;

		overflow-y: auto;

		padding: 8px;

		@include box-sizing(border-box);
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 1px 0;
			padding: 6px 6px;

			background: #fff;

			color: #888;

			display: block;

			list-style-type: none;

			outline: none !important;

			@include box-sizing(border-box);

			font-size: 12px;

			border: 1px solid transparent;
			border-radius: 3px;

			@include transition-property(all);
			@include transition-duration(.15s);
			@include transition-timing-function(ease-in-out);

			&.selected {
				background: #f6f6f6;
				color: #666;
				border: 1px solid #ccc;
			}

			&:hover {
				background: #eaeaea;
				color: #666;
				border: 1px solid #ccc;
			}

			&:active {
				background: #aaa;
				color: #fff;
			}
		}
	}
}

div.playlist, div.plugins, div.themes {
	font-family: 'PT Sans Narrow' !important;

	margin: 0;
	padding: 8px;

	@include box-sizing(border-box);

	display: inline-block;
	width: 75%;
	height: 1px;

	overflow: auto;

	div.track {
		margin: 1px 0;
		padding: 0 6px;

		background: #fff;

		color: #888;

		display: block;

		outline: none !important;

		@include box-sizing(border-box);

		font-size: 12px;

		border: 1px solid transparent;
		border-radius: 3px;

		@include transition-property(all);
		@include transition-duration(.15s);
		@include transition-timing-function(ease-in-out);

		&.selected {
			background: #f6f6f6;
			color: #666;
			border: 1px solid #ccc;
		}

		&.notListened {
			color: #000;
		}

		&:hover {
			background: #eaeaea;
			color: #666;
			border: 1px solid #ccc;
		}

		&:active {
			background: #aaa;
			color: #fff;
		}

		div.track-number {
			display: inline-block;

			font-family: 'PT Sans Narrow';
			font-size: 36px;

			margin-right: 10px;
		}

		div.track-info {
			display: inline-block;

			div.track-artist {
				font-family: 'PT Sans Narrow';
				font-size: 11px;

				text-overflow: ellipsis;
			}

			div.track-title {
				font-family: 'PT Sans Narrow';
				font-size: 16px;

				text-overflow: ellipsis;
			}
		}
	}
}

div.content {
	@include box-sizing(border-box);

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	h1, h2, h3 {
		padding: 0;
		margin: 0 0 10px 0;

		font-family: 'PT Sans Narrow';
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}
}

#settings-tabs {
	@include box-sizing(border-box);

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	a.x {
		position: absolute;
		top: 10px;
		right: 10px;

		font-size: 12px !important;

		z-index: 2;

		cursor: default;
	}

	div.plugins {
		@include box-sizing(border-box);

		width: 100%;
		height: 50%;
		padding: 0;

		border: 1px solid #ccc;
		border-radius: 3px;

		padding: 4px;
	}

	div.plugin-info {
		@include box-sizing(border-box);

		height: 32%;

		margin: 10px 0;
		padding: 10px;

		border: 1px solid #ccc;
		border-radius: 3px;

		div {
			margin: 0 0 10px 0;

			label {
				display: block;

				font-size: 12px;
				font-weight: bold;

				margin-bottom: 4px;
			}
		}


		div.buttons {
			margin-top: 11px;

			a {
				&.enabled {
					background: #eafee2 !important;
					color: #43ca06 !important;
					border: 1px solid #43ca06 !important;
				}
			}
		}
	}

	div.themes {
		@include box-sizing(border-box);

		width: 100%;
		height: 100%;
		padding: 0;

		border: 1px solid #ccc;
		border-radius: 3px;

		padding: 4px;
	}

	div.settings-row {
		@include box-sizing(border-box);

		width: 100%;
		padding: 0;

		padding: 4px;

		margin-bottom: 2px;

		label {
			display: block;

			font-family: 'PT Sans Narrow';
			font-size: 18px;
			font-weight: bold;
		}
	}
}
